<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue 3 연습용 Composition</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      예금액: <input type="text" v-model="amount" />
      <!-- 
        v-if: 컴포넌트 조건부 표시
        조건에 따라서 컴포넌트를 보여주거나 안 보여줄(요소 사라짐) 수 있음
        DOM에서 요소의 제거와 생성을 반복
        v-else-if
        v-else

        v-show: 컴포넌트 조건부 표시
        화면에 컴포넌트가 안보여도 요소 살아있음 (display: none)
        보이지 않을 경우 display: none 스타일 적용
        자주 토글되는 요소에 더 효율적
         -->
      <img
        v-if="amount < 0"
        src="https://contactsvc.bmaster.kro.kr/img/error.png"
        title="마이너스는 허용하지 않습니다."
        style="
          width: 15px;
          height: 15px;
          padding-left: 10px;
          vertical-align: middle;
        "
      />
    </div>

    <script>
      const { createApp, ref } = Vue;

      createApp({
        setup() {
          const amount = ref(0);
          return { amount };
        },
      }).mount('#app');
    </script>
  </body>
</html>
